* {
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  height: 510px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  margin-top: 50px;
}

.grid div {
  height: 50px;
  width: 50px;
  border: 1px solid;
  border-color: #949494 #949494 #4d4d4d #4d4d4d;
  outline: none;
  transition: 0.2s;
  box-sizing: border-box;
}

.grid div:hover {
  border-color: #504f4f #504f4f #2b2a2a #2b2a2a;
  transform: translateY(1px);
  box-shadow: 4px 4px #666;
  font-weight: bolder;
}

.grid div:active,
.grid div:focus {
  background-color: #027d31;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  transform: translateY(2px);
  outline: none;
  font-weight: bolder;
}

.checked {
  background-color: #027d31;
  box-sizing: border-box;
  padding: 15px 18px;
  font-size: 20px;
}

img {
  width: 730px;
  height: 505px;
  border: 3px dotted black;
  margin-top: 50px;
}

.box {
  display: flex;
  justify-content: space-evenly;
}

.flag {
  background-color: #f2c53d;
  box-sizing: border-box;
  padding: 10px;
  font-size: 25px;
}

.bomb {
  box-sizing: border-box;
  padding: 10px;
  font-size: 25px;
}

.gameover {
  font-size: 40px;
  color: #f20505;
  margin-left: 110px;
}

.playagain {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  border: 1px solid black;
  text-decoration: none;
  margin-left: 235px;
  padding-left: 5px;
  padding-top: 5px;
  width: 100px;
  height: 50px;
  background-color: gainsboro;
}

.playagain:hover {
  background-color: gray;
  color: ghostwhite;
  box-shadow: 4px 4px peru;
}