$color1: #ff0000; //red
$color2: #ffbf00; //orange
$color3: #ffff00; //yellow
$color4: #7fff00; //green
$color5: #007fff; //light blue
$color6: #00ffff; //cyan
$color7: #7700ff; //blue
$color8: #7f00ff; //purple
$color9: #ff00ff; //magenta
$color10: #000000; //black
$color11: #fff; //white

$debug-browser-support: false;