/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "partials/variables";
@import "partials/modules";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparentize($color10, 0.94);
}

ul li {
  list-style-type: none;
  margin-left: -30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header {
  color: $color11;
  height: 60px;
  background-color: desaturate($color6, 60%);
}

.header h1 {
  margin: 0;
  padding: 10px 25px;
}


h3 {
  margin-top: 20px;
  padding-left: 15px;
  color: $color10;
}

.sidebar {
  float: left;
  width: 200px;
  height: 591px;
  background-color: desaturate($color1, 35%);
  color: $color10;
  padding: 10px;
}

.sidebar a {
  padding: 0 0 0 80px;
  line-height: 70px;
  color: $color10;
  text-decoration: underline;
  &:hover, &:focus {
    color: tint($color6, 55%);
    font-size: 20px;
  }
}

.main {
  margin: 0 70px 0 250px;
  padding: 0px 10px;
  height: 400px;
  color: shade(#4c4a37, 30%);
}

.footer {
  background-color: desaturate($color6, 60%);
  color: $color11;
  height: 50px;
  margin-top: 210px;
}

