.course {
  display: flex;
  gap: 3%;
  align-items: center;
}

.course-icons {
  margin-bottom: 3%;
}

.courseName {
  font-size: clamp(0.5rem, -0.0294rem + 2.3529vw, 1rem);
  min-width: 500px;
}

.courseDate {
  text-decoration: underline;
  text-decoration-thickness: 2.5ex;
  text-underline-offset: -3ex;
  text-decoration-skip-ink: none;
  text-decoration-color: #63cdda;
}

@-moz-document url-prefix() {
  .courseDate {
    text-underline-offset: -2ex;
  }
}

_::-webkit-full-page-media,
_:future,
:root .courseDate {
  text-decoration: none;
}

@media only screen and (min-width: 1450px) {
  .courseName {
    font-size: 1.2rem;
  }
}
