.uses-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  font-family: "Mate", serif;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.uses {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 2%;
}

.usesBox {
  border: 2px dotted transparent;
  border-radius: 5px;
  margin: 10px 0 10px 20px;
  padding: 5px 0px;
  background-image: repeating-linear-gradient(
      16deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    ),
    repeating-linear-gradient(
      106deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    ),
    repeating-linear-gradient(
      196deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    ),
    repeating-linear-gradient(
      286deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    );
  background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

.usesBox:hover {
  background-image: none;
  border: 2px solid var(--accent);
  transform: rotate(3deg);
}

.catHover {
  width: 100px;
  height: 100px;
  margin-left: -160px;
  border-radius: 50%;
  background-color: var(--blog);
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 1300px) {
  .uses {
    gap: 1%;
  }
}

@media only screen and (max-width: 1200px) {
  .catHover {
    margin-left: -120px;
  }

  .uses > div:not:first-child {
    width: 23%;
  }
}

@media only screen and (max-width: 1100px) {
  .catHover {
    margin-left: -80px;
  }
}

@media only screen and (max-width: 1000px) {
  .uses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .uses-wrapper {
    display: none;
  }

  #root > div > div.uses > div:not(:first-child) {
    width: 50%;
    margin-bottom: 10px;
  }

  .catHover {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #root > div > div.uses > div:not(:first-child) {
    width: 70%;
    margin-bottom: 10px;
  }

  #root > div > div.uses > div > ul > li > a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  #root > div > div.uses > div > ul > li > a {
    font-size: 12px;
  }
}
