@supports (background: paint(something)) {
  .houdini:hover {
    --extra-confettiNumber: 30; /* defaults to 30 */
    --extra-confettiLengthVariance: 12; /* Defaults to 15 */
    --extra-confettiWeightVariance: 5; /* Defaults to 4 */

    background: paint(extra-confetti);
  }
  .underline {
    --extra-underlineNumber: 5; /* default: 3 */
    --extra-underlineColor: #e54b4b; /* default: black */
    --extra-underlineSpread: 15; /* default: 20 */
    --extra-underlineWidth: 1; /* default: 2 */

    background: paint(extra-superUnderline);
    line-height: 1.5;
  }

  .hui:hover {
    --tesla-segments: 5;
    --tesla-angle: 45;
    --tesla-blur: 5;
    --tesla-width: 4;
    --tesla-hue: 180;
    --tesla-saturation: 100;
    --tesla-lightness: 50;
    background: paint(tesla-coil);
  }
}
