/*VARIABLES*/

:root {
  --buttonBackground: #3299bb;
  --buttonShadow: gray;
  --header: #5c8d76;
  --accent: #e54b4b;
  --background: #e4e1db;
  --gray: #333;
  --button: #3b828f;
  --blog: #25a2b9;
  --screens: #b96c25;
  --whiteSmoke: #f5f5f5;
}

/*GENERAL*/

body {
  margin: 0;
}

.main {
  background-color: var(--background);
}

.main-alt {
  background-color: var(--gray);
}

a {
  color: #1a1a1a;
  text-decoration: none;
  font-family: "Mate", serif;
  font-size: 1rem;
  display: flex;
  gap: 5px;
}
.a-alt {
  color: white;
  text-decoration: none;
  font-family: "Mate", serif;
  font-size: 1rem;
  display: flex;
  gap: 5px;
}

a:focus {
  outline: lightgreen solid 2px;
}

/*HEADER*/

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.menu {
  display: flex;
  box-sizing: border-box;
  height: 150px;
  width: 95%;
  background-color: var(--header);
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 2px rgba(51, 51, 51, 0.41);
}

.menu-alt {
  display: flex;
  box-sizing: border-box;
  height: 150px;
  width: 95%;
  background-color: #6c7073;
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 2px rgba(51, 51, 51, 0.41);
}
.header {
  cursor: pointer;
  display: flex;
  place-content: center;
  place-items: center;
}
.logo {
  padding: 4px;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.3rem var(--gray));
  content-visibility: auto;
}

#root > div > div.contact-wrapper > img {
  content-visibility: auto;
}

/*GRID*/

.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 197px);
  margin-top: 10px;
}
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*FOOTER*/

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.footer {
  display: flex;
  box-sizing: border-box;
  height: 100px;
  width: 95%;
  background-color: var(--header);
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 2px rgba(51, 51, 51, 0.41);
}

.footer-alt {
  display: flex;
  box-sizing: border-box;
  height: 100px;
  width: 95%;
  background-color: #6c7073;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 2px rgba(51, 51, 51, 0.41);
}
/*SCREENS*/

.screen-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.screen {
  width: 380px;
  height: 200px;
  background-color: var(--screens);
  border-radius: 15px;
  box-shadow: 0px 0px 6px 2px rgba(51, 51, 51, 0.91);
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.button:focus {
  outline: lightgreen solid 2px;
}

img {
  border-radius: 5px;
}

.image:hover {
  transform: scale(1.1);
}

.image:focus {
  outline: lightgreen solid 2px;
}

h1 {
  font-family: "Mate", serif;
  font-size: 2.5rem;
  text-align: center;
  color: var(--gray);
  letter-spacing: 0.05em;
}

.h1-alt {
  font-family: "Mate", serif;
  font-size: 2.5rem;
  text-align: center;
  color: white;
  letter-spacing: 0.05em;
}

h2 {
  font-family: "Mate", serif;
  color: var(--gray);
  letter-spacing: 0.05em;
  margin: auto;
  text-align: center;
}

.headers {
  font-family: "Mate", serif;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: -50px;
  margin-left: -130px;
}

.MuiPaper-root-alt {
  background-color: red !important;
}

.chip-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 160px);
  padding-top: 15px;
}

.btn-info {
  color: #1a1a1a;
  background-color: var(--header);
  border-color: black;
  font-family: "Mate", serif;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.91);
  letter-spacing: 0.05em;
}

#dropdown-basic-button-alt {
  background-color: #dddfe3;
}
#dropdown-basic-button-alt:hover {
  background-color: #6c7073;
  border: none;
}

/* .vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Mate SC", serif;
  letter-spacing: 0.65em;
  font-size: 2rem;
  margin-right: 10px;
  margin-left: -10px;
  margin-top: 10px;
  padding: 15px 5px 5px 5px;
} */

.contact-badges {
  margin-top: 3%;
  display: grid;
  grid-gap: 14%;
  grid-template-columns: repeat(3, 160px);
  margin-bottom: 6%;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uses-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  font-family: "Mate", serif;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.icons {
  margin-bottom: 25%;
}

.icons:hover {
  transform: scale(1.5) rotate(-5deg);
}

.uses {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 2%;
}

.usesBox {
  border: 2px dotted transparent;
  border-radius: 5px;
  margin: 10px 0 10px 20px;
  padding: 5px 0px;
  background-image: repeating-linear-gradient(
      16deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    ),
    repeating-linear-gradient(
      106deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    ),
    repeating-linear-gradient(
      196deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    ),
    repeating-linear-gradient(
      286deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    );
  background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

.usesBox:hover {
  background-image: none;
  border: 2px solid var(--accent);
  transform: rotate(3deg);
}

ul {
  list-style-type: none;
}

.use {
  display: flex;
  gap: 10px;
}

.emoji {
  width: 20px;
}

.catHover {
  width: 100px;
  height: 100px;
  margin-left: -160px;
  border-radius: 50%;
  background-color: var(--blog);
  display: grid;
  place-items: center;
}

.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: 1rem;
  font-family: "Mate", serif;
}

.h2-courses {
  margin-top: 3%;
  margin-bottom: 1%;
}
#up > div > div > div.drop > div > div {
  padding: 0px;
}
.dropdown-divider {
  margin: 0;
}
.dropdown-item {
  padding: 1rem 1.2rem;
}
.dropdown-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dropdown-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#up > div > div > div.drop > div > div > a > a:hover {
  color: white;
}
.dropdown-item:active {
  background-color: var(--whiteSmoke);
}
.dropdown-item > a:active {
  outline: none;
}
.dropdown-menu {
  padding: 0;
  border-radius: 5px;
}

/* .dropdown-item:hover {
  clip-path: polygon(5% 10%, 90% 20%, 95% 95%, 2% 90%);
  transition: 0.95s linear;
} */

/* .dropdown-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #7777e9;
  clip-path: inset(0 0 100% 0);
  transition: 0.4s linear;
}

.dropdown-item:hover:before {
  clip-path: inset(0 0 0 0);
  color: white;
} */

div.MuiChip-root {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#root
  > div
  > div:nth-child(4)
  > div.timeline
  > div.chipWrapper
  > div
  > div
  > a {
  margin-left: 30px;
  background-color: var(--blog);
  color: var(--whiteSmoke);
}

#root > div > div:nth-child(4) > div.timeline > div.chipWrapper > div > div {
  padding-bottom: 35px;
}

.p-rating {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  font-size: 32px;
}

.p-rating-star {
  background-color: transparent;
  border: transparent;
  margin: 0 2px;
  padding: 0;
  position: relative;
}

.MuiFormControlLabel-label {
  display: none;
}

.ant-progress-text {
  color: var(--gray);
}
.ant-progress-text-alt {
  color: red;
}

.MuiButton-label {
  color: #282828;
}

.MuiTypography-colorError {
  color: white !important;
}

.projects {
  grid-template-columns: repeat(3, 197px);
  margin-bottom: 100px;
}
.reactprojects {
  margin-top: 30px;
  margin-bottom: 200px;
}

@media only screen and (max-width: 1300px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(6, 160px);
    margin-top: 1%;
    margin-left: -150px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-bottom: -1%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -60px;
    margin-bottom: -20px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 200px);
    padding-top: 30px;
  }

  .button {
    font-size: 1.1rem !important;
  }

  .h1 {
    margin-bottom: 1%;
  }

  .uses {
    gap: 1%;
  }
}

@media only screen and (max-width: 1200px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(5, 180px);
    margin-top: 1%;
    margin-left: -100px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-bottom: -1%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -60px;
    margin-bottom: -20px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 200px);
    padding-top: 30px;
  }
  .switch {
    margin-left: 15px;
  }

  .uses > div:not:first-child {
    width: 23%;
  }

  .catHover {
    margin-left: -120px;
  }
}

@media only screen and (max-width: 1100px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(5, 175px);
    margin-top: 1%;
    margin-left: -100px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-bottom: -1%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -60px;
    margin-bottom: -20px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(4, 180px);
    padding-top: 30px;
  }
  .switch {
    margin-left: 30px;
  }
  .catHover {
    margin-left: -80px;
    display: absolute;
  }
}

@media only screen and (max-width: 1000px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(5, 160px);
    margin-top: 1%;
    margin-left: -60px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }

  .chipWrapper {
    width: 80%;
    margin-left: -60px;
    margin-bottom: -20px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(4, 170px);
    padding-top: 15px;
  }
  .switch {
    margin-left: 45px;
  }
  .logo {
    margin-left: 25px;
  }

  .contacts {
    margin-bottom: 2%;
  }

  .uses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .uses-wrapper {
    display: none;
  }

  #root > div > div.uses > div:not(:first-child) {
    width: 50%;
    margin-bottom: 10px;
  }

  .catHover {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(4, 170px);
    margin-top: 1%;
    margin-left: -40px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -50px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 150px);
    padding-top: 15px;
  }

  .switch {
    margin-left: 10%;
  }
  .bubble {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(3, 180px);
    margin-top: 1%;
    margin-left: -10px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }

  .chipWrapper {
    width: 80%;
    margin-left: -50px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 170px);
    padding-top: 15px;
  }
  .switch {
    margin-left: 7%;
  }

  .headerClip {
    width: 300px;
  }
  #root
    > div
    > div:nth-child(3)
    > div.timeline
    > div.chipWrapper
    > div
    > div
    > a {
    margin-left: 8.8%;
  }
}

@media only screen and (max-width: 700px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(2, 200px);
    margin-top: 1%;
    margin-left: -10px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -50px;
  }

  .chip-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 140px);
    padding-top: 15px;
  }

  .switch {
    margin-left: -2%;
  }

  .headerClip {
    width: 250px;
  }

  .footer {
    padding: 0 10% 0 10%;
  }

  .stats {
    padding-left: 10%;
  }

  .dropdown {
    margin-left: -2%;
  }
  #root
    > div
    > div:nth-child(3)
    > div.timeline
    > div.chipWrapper
    > div
    > div
    > a {
    margin-left: 13.8%;
  }
}

@media only screen and (max-width: 600px) {
  .dropdown {
    margin-left: -20%;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 23%;
    justify-content: space-around;
    align-items: center;
  }

  .theme-btn {
    width: 10px;
  }

  .switch {
    margin-left: -12%;
  }

  .headerClip {
    width: 170px;
  }

  #root > div > div.uses > div:not(:first-child) {
    width: 70%;
    margin-bottom: 10px;
  }

  #root > div > div.uses > div > ul > li > a {
    font-size: 14px;
  }
  #root
    > div
    > div:nth-child(3)
    > div.timeline
    > div.chipWrapper
    > div
    > div
    > a {
    margin-left: 11%;
  }
}

@media only screen and (max-width: 500px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(3, 140px);
    margin-top: 1%;
    margin-left: -10px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-top: 4%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -30px;
  }

  .chip-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 130px);
    padding-top: 15px;
  }

  .dropdown {
    margin-left: -25%;
  }

  .switch {
    display: none;
  }

  .button {
    font-size: 1rem !important;
  }

  .contact-badges {
    margin-top: 3%;
    margin-left: 7%;
    display: grid;
    grid-gap: 8%;
    grid-template-columns: repeat(3, 140px);
    margin-bottom: 10%;
  }

  .theme-btn {
    display: none;
  }

  #root > div > div.uses > div:not(:first-child) {
    width: 70%;
    margin-bottom: 10px;
  }

  #root > div > div.uses > div > ul > li > a {
    font-size: 12px;
  }

  .logo {
    margin-left: -1px;
  }

  .course-li {
    width: 80%;
  }

  .course-icons {
    margin-bottom: 10%;
  }
  #root
    > div
    > div:nth-child(3)
    > div.timeline
    > div.chipWrapper
    > div
    > div
    > a {
    margin-top: 2%;
    margin-left: 8.8%;
  }
}

@media only screen and (max-width: 470px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(2, 150px);
    margin-top: 1%;
    margin-left: 10px;
  }

  .dropdown {
    margin-left: -30%;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-top: 4%;
    margin-bottom: -4%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -30px;
  }

  .chip-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 100px);
    padding-top: 15px;
  }

  .switch {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .contact-badges {
    margin-top: 3%;
    display: grid;
    grid-gap: 6%;
    grid-template-columns: repeat(3, 120px);
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 400px) {
  .drop {
    display: none;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    justify-content: space-around;
    align-items: center;
  }
  .grid {
    margin-left: -4%;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @media only screen and (max-width: 1900px) {
    .drop {
      position: relative;
      margin-left: 80%;
    }
    .switch {
      margin-left: -40%;
    }
    .logo {
      margin-left: 370%;
    }
    .menu {
      display: flex;
      align-items: center;
    }
    .theme-btn {
      margin-left: 200px;
    }
    #root > div > div.stickyHeader > div > div > div.header > div {
      transform: none !important;
    }
    .icons.course-icons {
      margin-right: 10px;
    }
    #root > div > div.uses > div {
      margin-right: 20px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .drop {
      position: relative;
      margin-left: 70%;
    }
    .logo {
      margin-left: 300%;
    }
  }
  @media only screen and (max-width: 1163px) {
    .switch {
      margin-left: -38%;
    }
  }
  @media only screen and (max-width: 955px) {
    .logo {
      margin-left: 280%;
    }
    .switch {
      margin-left: -34%;
    }
  }
  @media only screen and (max-width: 900px) {
    .logo {
      margin-left: 250%;
    }
    .switch {
      display: flex;
    }
    .theme-btn {
      margin-left: 150px;
    }
  }
  @media only screen and (max-width: 780px) {
    .drop {
      position: relative;
      margin-left: 80%;
    }
    .logo {
      margin-left: 230%;
    }
    .switch {
      margin-left: -38%;
    }
    .theme-btn {
      margin-left: 120px;
    }
  }
  @media only screen and (max-width: 700px) {
    .theme-btn {
      margin-left: 140px;
    }
    .switch {
      margin-left: -41%;
    }
    .logo {
      margin-left: 210%;
    }
  }
  @media only screen and (max-width: 600px) {
    .theme-btn {
      margin-left: 95px;
    }
    .switch {
      margin-left: -47%;
    }
    .logo {
      margin-left: 180%;
    }
  }
  @media only screen and (max-width: 550px) {
    .theme-btn {
      margin-left: 90px;
    }
    .switch {
      margin-left: -49%;
    }
    .logo {
      margin-left: 170%;
    }
    .headerClip {
      width: 140px;
    }
  }
  @media only screen and (max-width: 470px) {
    .theme-btn {
      margin-left: 90px;
    }
    .switch {
      margin-left: -52%;
    }
    .logo {
      margin-left: 160%;
    }
    .headerClip {
      width: 100px;
    }
  }
  @media only screen and (max-width: 430px) {
    .theme-btn {
      margin-left: 90px;
    }
    .switch {
      display: none;
    }
    .headerClip {
      display: none;
    }
    .logo {
      margin-left: 130%;
    }
    .grid {
      margin-left: -6%;
    }
  }
  @media only screen and (max-width: 400px) {
    .logo {
      margin-left: 10%;
    }
    .grid {
      margin-left: -6%;
    }
  }
}
