/*GENERAL*/

body {
  margin: 0;
}

.main {
  background-color: #e4e1db;
}

a {
  color: #333;
  text-decoration: none;
  font-family: "Mate", serif;
  font-size: 1rem;
  display: flex;
  gap: 5px;
}

/*HEADER*/

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.menu {
  display: flex;
  box-sizing: border-box;
  height: 150px;
  width: 95%;
  background-color: #5c8d76;
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 2px rgba(51, 51, 51, 0.41);
}
.header {
  cursor: pointer;
  display: flex;
  place-content: center;
  place-items: center;
}
.logo {
  padding: 4px;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.3rem #333);
  /*filter: drop-shadow(5px 2px 4px #333);*/
}

.drop {
  display: flex;
  box-sizing: border-box;
  margin-left: 80%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.switch {
  display: flex;
  box-sizing: border-box;
  margin-right: 80%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

/*GRID*/

.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 197px);
  margin-top: 10px;
}
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*FOOTER*/

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.footer {
  display: flex;
  box-sizing: border-box;
  font-family: "Mate", serif;
  color: #333;
  height: 100px;
  width: 95%;
  background-color: #5c8d76;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 2px rgba(51, 51, 51, 0.41);
}

/*SCREENS*/

.screen-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.screen {
  width: 380px;
  height: 200px;
  background-color: #b96c25;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 2px rgba(51, 51, 51, 0.91);
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 5px;
}

.image:hover {
  transform: scale(1.1);
}

h1 {
  font-family: "Mate", serif;
  font-size: 2.5rem;
  text-align: center;
  color: #333;
  letter-spacing: 0.05em;
}

.headers {
  font-family: "Mate", serif;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: -50px;
  margin-left: -130px;
}

.timeline {
  display: flex;
  margin-top: 2%;
  justify-content: space-around;
  align-items: center;
}

.timelines {
  margin-left: -10%;
  margin-top: 2%;
}

.chipper {
  width: 110%;
  height: 150%;
  background-color: #f5f5f5;
  margin-bottom: 10%;
}

.chip-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 160px);
  padding-top: 15px;
}

.togglePic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 240px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-left: -20px;
  align-items: center;
}

.headerClip {
  margin-bottom: 30px;
}

.stickyHeader {
  position: -webkit-sticky;
  position: sticky;
  top: -20px;
  z-index: 1;
}

.btn-info {
  color: #fff;
  background-color: #5c8d76;
  border-color: black;
  font-family: "Mate", serif;
  box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.91);
  letter-spacing: 0.05em;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Mate SC", serif;
  letter-spacing: 0.65em;
  font-size: 2rem;
  margin-left: -70px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 15px 5px 5px 5px;
  /*border: 2px dashed #e54b4b;*/
  border-radius: 5px;
}

.vertical-text:hover {
  border: 2px solid #e54b4b;
  transform: rotate(-3deg);
}

.contact-badges {
  margin-top: 3%;
  display: grid;
  grid-gap: 14%;
  grid-template-columns: repeat(3, 160px);
  margin-bottom: 20%;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  margin-bottom: 25%;
}

.icons:hover {
  transform: scale(1.5) rotate(-5deg);
}

@media only screen and (max-width: 1300px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(6, 160px);
    margin-top: 1%;
    margin-left: -150px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-bottom: -4%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -60px;
    margin-bottom: -20px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 200px);
    padding-top: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(5, 180px);
    margin-top: 1%;
    margin-left: -100px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-bottom: -4%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -60px;
    margin-bottom: -20px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 200px);
    padding-top: 30px;
  }
  .switch {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1100px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(5, 175px);
    margin-top: 1%;
    margin-left: -100px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-bottom: -4%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -60px;
    margin-bottom: -20px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(3, 200px);
    padding-top: 30px;
  }
  .switch {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(5, 160px);
    margin-top: 1%;
    margin-left: -60px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-bottom: -4%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -60px;
    margin-bottom: -20px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(3, 200px);
    padding-top: 15px;
  }
  .switch {
    margin-left: 45px;
  }
  .logo {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 900px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(4, 170px);
    margin-top: 1%;
    margin-left: -40px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-bottom: -4%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -50px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 180px);
    padding-top: 15px;
  }

  .switch {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 800px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(3, 180px);
    margin-top: 1%;
    margin-left: -10px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-bottom: -4%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -50px;
  }
  .chip-grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 170px);
    padding-top: 15px;
  }
  .switch {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(2, 200px);
    margin-top: 1%;
    margin-left: -10px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-bottom: -4%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -50px;
  }

  .chip-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 140px);
    padding-top: 15px;
  }

  .switch {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(3, 140px);
    margin-top: 1%;
    margin-left: -10px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-top: 4%;
    margin-bottom: -4%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -30px;
  }

  .chip-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 130px);
    padding-top: 15px;
  }

  .drop {
    display: none;
  }

  .switch {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(2, 150px);
    margin-top: 1%;
    margin-left: 10px;
  }

  .drop {
    display: none;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    justify-content: space-around;
    align-items: center;
  }
  .headers {
    display: none;
  }
  h1 {
    margin-top: 4%;
    margin-bottom: -4%;
  }
  .chipWrapper {
    width: 80%;
    margin-left: -30px;
  }

  .chip-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 150px);
    padding-top: 15px;
  }

  .switch {
    display: none;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @media only screen and (max-width: 1900px) {
    .drop {
      position: relative;
      margin-left: 80%;
    }
    .switch {
      margin-left: -40%;
    }
    .logo {
      margin-left: 370%;
    }
    .menu {
      display: flex;
      align-items: center;
    }
  }
  @media only screen and (max-width: 1200px) {
    .drop {
      position: relative;
      margin-left: 70%;
    }
    .logo {
      margin-left: 300%;
    }
  }
  @media only screen and (max-width: 1163px) {
    .switch {
      margin-left: -38%;
    }
  }
  @media only screen and (max-width: 955px) {
    .logo {
      margin-left: 280%;
    }
    .switch {
      margin-left: -34%;
    }
  }
  @media only screen and (max-width: 900px) {
    .logo {
      margin-left: 250%;
    }
    .switch {
      display: flex;
    }
  }
  @media only screen and (max-width: 780px) {
    .drop {
      display: none;
    }
    .logo {
      margin-left: 5%;
    }
    .switch {
      display: none;
    }
  }
}
